# Objective function for L1 calibration using SCDCalibratePanels
$$err = \dfrac{\sum_n ||\mathbf{q}^n_\text{calc} - \mathbf{q}^n_\text{HKL}||^2}{N_\text{peaks}}$$

In [1]:
%matplotlib widget

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Coarse Scan
profile data is manually collected

In [2]:
data = np.array([
[-2.10000000000000000e+01, 0.04422040645454679],
[-2.01000000000000014e+01, 0.00109543041610762],
[-2.00100000000000016e+01, 0.00059440173617976],
[-2.00010000000000012e+01, 0.00058586970776941],
[-2.00000999999999998e+01, 0.00058543590087598],
[-2.00000099999999996e+01, 0.00058539671785817],
[-2.00000010000000010e+01, 0.00058539284153683],
[-2.00000000000000000e+01, 0.00058539241130562],
[-1.99999989999999990e+01, 0.00058539198116864],
[-1.99999900000000004e+01, 0.00058538811417637],
[-1.99999000000000002e+01, 0.00058534986406618],
[-1.99989999999999988e+01, 0.00058500934793481],
[-1.99899999999999984e+01, 0.00058580640121911],
[-1.98999999999999986e+01, 0.00101774077591091],
[-1.90000000000000000e+01, 0.05173972037107783],
])

dz = data[:,0] + 20
err = np.log(data[:, 1])
z_correct = -19.993204
dz_sol = z_correct - (-20)

In [3]:
fig, ax = plt.subplots(1,1)

ax.plot(dz, err, 'b-+', label="err")
ax.plot([dz_sol,dz_sol], [min(err),max(err)], 'k--', label="z=-20")

ax.set_xscale("symlog")
ax.set_xlabel("$\delta z (meters)$")
ax.set_yscale("linear")
ax.set_ylabel("err");

fig.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# Fine scan

In [4]:
df1 = pd.read_csv("data/prof_fine_03-01-2021.csv", delimiter="\t")  # before changing the order of setting wavelength
df2 = pd.read_csv("data/prof_fine_03-02-2021.csv", delimiter="\t")  # changed the order of wavelength setting following suggestions from discussion

In [5]:
df1.describe()

                 dz           err
count  2.000100e+04  20001.000000
mean  -8.941733e-16      0.000587
std    5.773936e-03      0.000003
min   -1.000000e-02      0.000584
25%   -5.000000e-03      0.000585
50%   -8.941784e-16      0.000586
75%    5.000000e-03      0.000589
max    1.000000e-02      0.000594

In [6]:
df2.describe()

                 dz           err
count  2.000100e+04  20001.000000
mean  -8.941733e-16      0.000590
std    5.773936e-03      0.000005
min   -1.000000e-02      0.000584
25%   -5.000000e-03      0.000585
50%   -8.941784e-16      0.000588
75%    5.000000e-03      0.000594
max    1.000000e-02      0.000601

In [7]:
z_correct = -19.993204
dz_sol = z_correct - (-20)

In [8]:
fig, ax = plt.subplots(1,1,figsize=(10, 4))

# solution
ax.plot([dz_sol,dz_sol], [df1["err"].min(),df1["err"].max()], 'k--', label=f"z={z_correct}")

# df1
ax.plot(df1["dz"], df1["err"], 'b-', label="err1")
dz1_minerr = df1.loc[df1["err"]==df1["err"].min(), "dz"]
ax.plot([dz1_minerr, dz1_minerr], [df1["err"].min(),df1["err"].max()], 'b:', label=f'dz1_minerr')

# df2
ax.plot(df2["dz"], df2["err"], 'r--', label="err2")
dz2_minerr = df2.loc[df2["err"]==df2["err"].min(), "dz"]
ax.plot([dz2_minerr, dz2_minerr], [df2["err"].min(),df2["err"].max()], 'r:', label=f'dz2_minerr')

ax.set_xlabel("$\delta z (meters)$")
ax.set_yscale("linear")
ax.set_ylabel("err");

fig.legend()

print(f"dz1_off = {dz1_minerr.to_numpy()[0]-dz_sol}");
print(f"dz2_off = {dz2_minerr.to_numpy()[0]-dz_sol}");

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

dz1_off = -0.0022340000000019705
dz2_off = 0.0022329999999975685

# Trying with a different z to see if we will have something different

In [14]:
z_correct_2 = -19.986409
dz_correct_2 = z_correct_2 - (-20)

In [15]:
df3 = pd.read_csv("data/prof_fine_03-02-2021_1.csv", delimiter="\t")

df3.describe()

                 dz           err
count  4.000100e+04  40001.000000
mean  -6.529724e-16      0.000603
std    1.154744e-02      0.000018
min   -2.000000e-02      0.000584
25%   -1.000000e-02      0.000586
50%   -6.530518e-16      0.000596
75%    1.000000e-02      0.000616
max    2.000000e-02      0.000645

In [18]:
df4 = pd.read_csv("data/prof_fine_03-02-2021_2.csv", delimiter="\t")

df4.describe()

                 dz           err
count  4.000100e+04  40001.000000
mean  -6.529724e-16      0.000597
std    1.154744e-02      0.000014
min   -2.000000e-02      0.000584
25%   -1.000000e-02      0.000586
50%   -6.530518e-16      0.000590
75%    1.000000e-02      0.000606
max    2.000000e-02      0.000631

In [19]:
fig2, ax2 = plt.subplots(1,1,figsize=(10, 4))

# solution
ax2.plot([dz_correct_2,dz_correct_2], [df3["err"].min(),df3["err"].max()], 'k--', label=f"z={z_correct_2}")

# df3
ax2.plot(df3["dz"], df3["err"], 'g-', label="err1")
dz3_minerr = df3.loc[df3["err"]==df3["err"].min(), "dz"]
ax2.plot([dz3_minerr, dz3_minerr], [df3["err"].min(),df3["err"].max()], 'g:', label=f'dz3_minerr')

# df4
ax2.plot(df4["dz"], df4["err"], 'm-', label="err1")
dz4_minerr = df4.loc[df4["err"]==df4["err"].min(), "dz"]
ax2.plot([dz4_minerr, dz4_minerr], [df4["err"].min(),df4["err"].max()], 'm:', label=f'dz4_minerr')

ax2.set_xlabel("$\delta z (meters)$")
ax2.set_yscale("linear")
ax2.set_ylabel("err");

fig2.legend()

print(f"dz3_off = {dz3_minerr.to_numpy()[0]-dz_correct_2}");
print(f"dz4_off = {dz4_minerr.to_numpy()[0]-dz_correct_2}");

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

dz3_off = 0.0022329999999928345
dz4_off = -0.0022320000000042306

In [13]:
dz_correct_2

0.013591000000001685

# Use difference of two types of error to find the correct dz

$$err = |err_\text{overshoot} - err_\text{undershoot}|$$

In [20]:
df_L1caliprof = pd.read_csv("data/prof_fine_L1cali_final.csv", delimiter="\t")

df_L1caliprof.describe()

                 dz           err
count  4.000100e+04  4.000100e+04
mean  -6.529724e-16  5.098496e-06
std    1.154744e-02  3.554144e-06
min   -2.000000e-02  2.553650e-11
25%   -1.000000e-02  2.108644e-06
50%   -6.530518e-16  4.220227e-06
75%    1.000000e-02  8.061447e-06
max    2.000000e-02  1.234636e-05

In [21]:
L1_correct = -19.990939
dL1_correct = L1_correct - (-20)

In [24]:
fig3, ax3 = plt.subplots(1,1,figsize=(10, 4))

# solution
ax3.plot([dL1_correct,dL1_correct], [df_L1caliprof["err"].min(),df_L1caliprof["err"].max()], 'k--', label=f"z={L1_correct}")

# df3
ax3.plot(df_L1caliprof["dz"], df_L1caliprof["err"], 'b-', label="err_L1")
dL1_minerr = df_L1caliprof.loc[df_L1caliprof["err"]==df_L1caliprof["err"].min(), "dz"]
ax3.plot([dL1_minerr, dL1_minerr], [df_L1caliprof["err"].min(),df_L1caliprof["err"].max()], 'b:', label=f'dL1_minerr')

ax3.set_xlabel("$\delta z (meters)$")
ax3.set_yscale("linear")
ax3.set_ylabel("err");

fig3.legend()

print(f"dL1_off = {dL1_minerr.to_numpy()[0]-dL1_correct}");

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

dL1_off = 4.5102810375396984e-17

# Profile of provided natrollite data

In [2]:
df_natrollite = pd.read_csv("data/prof_natrollite.csv", delimiter="\t")

df_natrollite.describe()

                 dz           err
count  10000.000000  10000.000000
mean      -0.000005      0.000535
std        0.028869      0.000309
min       -0.050000      0.000000
25%       -0.025002      0.000268
50%       -0.000005      0.000536
75%        0.024993      0.000803
max        0.049990      0.001070

In [3]:
fig_na, ax_na = plt.subplots(1,1,figsize=(10, 4))

ax_na.plot(df_natrollite["dz"], df_natrollite["err"], 'b-', label="err_L1")
dL1_minerr = df_natrollite.loc[df_natrollite["err"]==df_natrollite["err"].min(), "dz"]
ax_na.plot([dL1_minerr, dL1_minerr], [df_natrollite["err"].min(),df_natrollite["err"].max()], 'b:', label=f'dL1_minerr')

print(dL1_minerr)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

5000    4.630604e-15
Name: dz, dtype: float64